* {
 font-family: 'Open Sans', sans-serif;
 }
html, body {
margin: 0;
padding: 0;
background-color: #494949;
}
div.main{
  margin-top:5%;
  margin-left: 33%;
  padding: 0;
  background-color: #FFCC00;
  width: 33%;
  height: 90%;
  box-shadow: 10px 10px 30px black;
  display flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.main:hover{
  box-shadow: 15px 15px 25px black;
}

div.Welcome-banner{
  width: 100%;
  margin-top: 1%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Welcome{
  margin-left:5px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

div.Welcome-banner img{
  margin-left: -1%;
  width: 125px;
}

div.login{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a ~ h2{
  margin-top: 1%;
  margin-bottom: 1%;
}

form{
  margin-bottom: 10%;
}
form > input[type="submit"]{
  margin-top: 5px;
}
form > input:hover{
  box-shadow: 2px 2px 3px #FF8F00;
}
