* {
 font-family: 'Open Sans', sans-serif;
 }
html, body {
margin: 0;
padding: 0;
background-color: #494949; 
}

/*login.html*/
div.main{
  margin-top:5%;
  margin-left: 33%;
  padding: 0;
  background-color: #FFCC00;
  width: 33%;
  height: 90%;
  box-shadow: 10px 10px 30px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.main:hover{
  box-shadow: 15px 15px 25px black;
}

div.Welcome-banner{
  width: 100%;
  margin-top: 1%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Welcome{
  margin-left:5px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Impact";
}

a{
  font-family: "Impact";
}

div.Welcome-banner img{
  margin-left: -4%;
  width: 125px;
}

div.login{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

a ~ h2{
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Impact";
}

form{
  margin-bottom: 10%;
}
form > input[type="submit"]{
  font-family: "Impact";
  color:rgba(0, 0, 0, 0.562);
  margin-top: 5px;
}
form > input:hover{
  box-shadow: 2px 2px 3px #FF8F00;
}





/*index.html*/

div.searching_line{
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  position: sticky; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  }

  div.searching_line > img{
    margin: 1%;
    max-height: 80%;
  }

  
  #searching_input{
    margin-top: 15px;
    height: 50%;
    width: 30%;

  }

  #searching_input > form  {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  #searching_input > form > input {
    margin-left: 1%;
    font-size: 17px;
    background-color: #FFCC00 ;
    height: 100%;
    
  }

  #searching_input > form > input[type="text"] {
    width: 100%;
  }

  div.background_line {
    margin-left: 20%;
    width: 60%;
    background-color: #494949 ;
    display: flex;
    flex-direction: column;
  }
  
  div.background_line > h1 {
    margin-left: 20%;
    color: #FFCC00;
    background-color: black;   
  }

  div.blog_post{
    margin-left: 20%;
    margin-top: 5%;
    width: 60%;
    background-color: #FFCC00;
    box-shadow: 10px 10px 30px black;
  }

  h1 + div.blog_post{
    box-shadow: 10px 10px 50px #FF8F00 ;
  }

  div.blog_info {
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
  
  }

  div.blog_info > img {
    margin: 10%;
    margin-left: 1%;
    height: 80%;
  }

  div.blog_info span{
    margin: 5%;
    color: #FFCC00 ;
  }

  div.blog_picture {
    max-width: 100%;
    background-color: black;
  }

  div.blog_picture > img{
    width:  100%;
  }

  div.blog_text p{
    margin: 2%;
    font-family: "Impact";
  }

  button.like  {
    background-color: #FFCC00 ;
    margin: 2%;
    width: 50px;
  }

  button.like:hover  {
    background-color: #c59e00 ;
  }


  button.like > img {
    max-width: 100%;
  }

  footer > div{
    
    padding:50px;
    background-color: #494949;
    text-align: center;
  }
