<div class="searching_line">
    <img src="/img/post-it.png" alt="Logo" id="itIsYou">
    <span id="searching_input">
      <form>
        <input type="text" name="searching-field" placeholder="Searching something?">
        <input type="submit" value="Search">
      </form>
    </span>

    <img id="account" src="/img/account.png" alt="account">
    
</div>

<div id="dropdown" >
    <div id="dropdownTags">
      <p>User: </p>
      <p>e-mail: </p>
    </div>
    <div id="dropdownInfo">
      <p>John Snow</p>
      <p>nors.king@not.dead<p>
    </div>
</div>

<nav id="nav">
    <a class="navigation" href="/">Home</a> |
    <a class="navigation" href="/addnewpost">Add new post</a> 
</nav>