<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add New Post</title>

  <link rel="icon" href="/img/post-it.png">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>

</head>

<body>
  <%- include('./partials/header.ejs') %>

    <div class="main">
      <div class="Welcome-banner">
        <img src="/img/post-it.png" alt="Logo">
        <p id="Welcome">Welcome to PostIt</p>
      </div>
      <div class="login">
        <h2>Make a post:</h2>

        <div class="create-post">
          <form action="/newpost" method="POST">
            <label for="urllink"> URL link:</label>
            <input type="text" id="urllink" name="urllink" ></textarea><br><br>
            <label for="text">Post body:</label>
            <input type="text" id="text" name="text" required><br><br>

            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>

</html>