<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add New Post</title>

  <link rel="icon" href="/img/post-it.png">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>

</head>

<body>
  <%- include('./partials/header.ejs') %>

    <div class="main">
      <div class="Welcome-banner">
        <img src="/img/post-it.png" alt="Logo">
        <p id="Welcome">Welcome to PostIt</p>
      </div>
      <div class="login">
        <h2>Make a post:</h2>
        <form>
          <br><input type="url" id=urlInput name="picUrl" placeholder="Enter a link to picture"><br>
          <br><input type="text" id=texrInput name="postText" placeholder="And Your post text"><br>

        </form>
        <a class="post">
          <button>Post!</button>
        </a>
        <!-- <a href="https://www.yout-ube.com/watch?v=dQw4w9WgXcQ">The secret word has been forgotten?</a> -->
      </div>
    </div>


    <script>
      const postreq = document.querySelector('a.post');
      postreq.addEventListener('click', (e) => {
        const data = {url: getUrl()};
        const endpoint = `/newpost/${getText()}`;
        fetch(endpoint, {
          method: 'POST', body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(window.location.href = '/')
      });
      function getUrl() {
        var picUrl = document.getElementById("urlInput").value;
        return picUrl;
      }

      function getText() {
        var postText = document.getElementById("texrInput").value;
        return postText;
      }
    </script>



    <%- include('./partials/footer.ejs') %>
</body>

</html>